@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="text-primary" style="padding: 20% 0% 0% 0%">Welcome to my Appsec demo!</h1>
</div>


<div class="lead text-center">
    <p>This web application is built on ASP Core MVC framework.</p>
</div>