@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="text-center">
    <h1 class="text-primary" style="padding: 20% 0% 0% 0%">@ViewData["Title"]</h1>
    <p>Privacy policy to be added.</p>
</div>
