@model Item
@{
    ViewData["Title"] = "Edit Item";
}

<form method="post" asp-action="EditPost">
    <input asp-for="Item_id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Items</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-bg-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-bg-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Quantity"></label>
            <input asp-for="Quantity" class="form-control"/>
            <span asp-validation-for="Quantity" class="text-bg-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PickUpNote"></label>
            <input asp-for="PickUpNote" class="form-control"/>
            <span asp-validation-for="PickUpNote" class="text-bg-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control"/>
            <span asp-validation-for="Location" class="text-bg-danger"></span>
        </div>

        <button type="submit" class="btn btn-info" style="width:150px">Edit</button>

</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />      
    } 
}
