@model IEnumerable<Item>
@{
    ViewData["Title"] = "Order";
}

<partial name="_Warning" />

<div class="row" style="padding: 20% 0% 0% 0%">
    <div class="col-md-6">
       <h1 class="text-primary">Logic to be added</h1>
    </div>
</div>
